# Ignore Everything
*

# Allow Folders/Files
!/Computer Vision/Cat Dog/mp.ipynb
!/Computer Vision/Cat Dog/trian.zip

!/Computer Vision/Emotions/Emotion.ipynb
!/Computer Vision/Emotions/live.py

!/Machine Learning/CHD_Prediction/CHD_Prediction.ipynb
!/Machine Learning/CHD_Prediction/chd.csv

!/Machine Learning/Heart Attack Prediction/main.ipynb
!/Machine Learning/Heart Attack Prediction/heart_attack_prediction.ipynb
!/Machine Learning/Heart Attack Prediction/Training_PTB.zip